<div>

  <ul>
    {{#each allBeers}}

      <img src="{{this}}" alt="beer-image" width="200px">
      <h3>{{name}}</h3>
      <h6>{{tagline}}</h6>
      <p>{{description}}</p>
      
      

    {{/each}}

  </ul>

</div>