<div>
{{#each randomItem}}

      <img src="{{this}}" alt="random-beer" width="300px">
      <h2>{{name}}</h2>
      <h5>{{tagline}}</h5>
      <p>{{description}}</p>
      <ul>
        <li></li>
      </ul>
      <p></p>
      
{{/each}}
</div>